trigger:
- master

pool:
  name: Default
  demands:
    - agent.os -equals Linux

variables:
  DOCKER_USERNAME: shehan077
  DOCKER_PASSWORD: $(docker_password)

stages:
- stage: Build
  displayName: "Maven Build"
  jobs:
    - job: BuildJob
      workspace:
        clean: outputs
      steps:
        - task: Maven@3
          inputs:
            mavenPomFile: 'pom.xml'
            mavenOptions: '-Xmx3072m'
            javaHomeOption: 'Path'
            jdkDirectory: '/usr/lib/jvm/java-17-openjdk-amd64'
            goals: 'package'
            publishJUnitResults: true
            testResultsFiles: '**/surefire-reports/TEST-*.xml'
- stage: Docker
  displayName: "Build Docker Image"
  dependsOn: Build
  jobs:
    - job: DockerJob
      steps:
        - script: |
            echo $(DOCKER_PASSWORD) | docker login -u $(DOCKER_USERNAME) --password-stdin
          displayName: "Docker Login"

        - script: |
            docker pull eclipse-temurin:17-jdk || echo "Already pulled or network issue"
          displayName: "Pre-pull base image"

        - script: |
            cd $(Build.SourcesDirectory)
            docker build --network=host -t ntb-app:$(Build.BuildId) .
          displayName: "Build Docker Image"



- stage: Deploy
  displayName: "Deploy to Local Kubernetes"
  dependsOn: Docker
  jobs:
    - deployment: DeployToLocal
      environment: dev
      strategy:
        runOnce:
          deploy:
            steps:
              - script: |
                  echo "Deploying to local Kubernetes..."
                  export KUBECONFIG=$HOME/.kube/config

                  # If using Kind, load image into cluster
                  # kind load docker-image ntb-app:$(Build.BuildId)

                  kubectl apply -f k8s/deployment.yaml
                  kubectl apply -f k8s/service.yaml
                displayName: "Deploy to Kubernetes"
